// Profile details
manifest {
    author = "Anh Phuong Le (Phuong)"
    name = "strelka2_somatic-nf"
    description = "Run strelka2. Contact Phuong at al35@sanger.ac.uk."
    version = "0.1"
}

// pipeline params
params {

  // input/output options
  samplesheet = null
  reference_genome = null
  fasta_index = null
  ncpu_manta = 16
  ncpu_strelka = 16
  outdir = null
  
  // schema validation default options
  validate_params                  = true
  validationFailUnrecognisedParams = false
  validationLenientMode            = false
  validationShowHiddenParams       = false
  validationS3PathCheck            = false
  validationSkipDuplicateCheck     = false
  
}

// use nf-schema for param handling
plugins {
    id 'nf-schema@2.0.0'
}